.language-select-container{
    width: 150px;
}

.ngx-dropdown-button {
    background-color: var(--theme-back-color) !important;
    color: var(--theme-contrast-color) !important;
    border: unset !important;
}



.language-font{
    font-size: 15px;
}