<section class="container-header-height d-flex flex-column justify-content-center container" aria-labelledby="jeroen">
    <h2 class="theme-color mt-sm-4">{{'about.intro' | translate}}</h2>

    <h2 id="jeroen">Jeroen</h2>

    <div 
        fxShow="true" fxHide.lt-md="true" 
        @fadeAnimation
        #threeBuildTextContainer 
        class="w-100" 
        [ngStyle]="{'height': threeBuildTextContainerHeight, 'max-height': threeBuildTextContainerHeight}"
    >   
        <three-text
            value="I BUILD THINGS FOR THE WEB"   
            [fontColor]="threeBuildTextColor" 
            fontSize="60"
        ></three-text>
    </div>

    <div class="text-justify">
        <p>
            {{'about.iam' | translate }}
        </p>
        <p class="mt-4">
            {{'about.someTech' | translate }}
        </p>
    </div>

    <div class="d-flex">

        <div class="ml-4">
            <div class="d-flex">
                <mat-icon color="accent">play_arrow</mat-icon>
                <p class="ml-2">.NET 5.0</p>
            </div>
            <div class="d-flex">
                <mat-icon color="accent">play_arrow</mat-icon>
                <p class="ml-2">Angular</p>
            </div>
            <div class="d-flex">
                <mat-icon color="accent">play_arrow</mat-icon>
                <p class="ml-2">Keras & Tensorflow</p>
            </div>
        </div>

        <div class="ml-4">
            <div class="d-flex">
                <mat-icon color="accent">play_arrow</mat-icon>
                <p class="ml-2">Kubernetes</p>
            </div>
            <div class="d-flex">
                <mat-icon color="accent">play_arrow</mat-icon>
                <p class="ml-2">Django</p>
            </div>
            <div class="d-flex">
                <mat-icon color="accent">play_arrow</mat-icon>
                <p class="ml-2">Cloud Computing Services</p>
            </div>
        </div>

    </div>

    <div 
        fxShow="true" fxHide.lt-md="true"
        class="w-50 mb-5 ml-auto mr-auto mt-5">
        <main-button 
            label="{{'signpost.checkProjects' | translate }}"
            (click)="openProjects()"
        ></main-button>
    </div>

    <div 
        fxShow="true" fxHide.gt-sm="true" 
        class="w-75 mb-5 ml-auto mr-auto mt-5">
        <main-button 
            label="{{'signpost.checkProjects' | translate }}"
            (click)="openProjects()"
        ></main-button>
    </div>

    <div class="d-flex">
        <mat-icon svgIcon='my-info' class="mat-icon click-icon mr-2" (click)="openFirebaseAnalytics()"></mat-icon>
        <p class="small-print">{{'info.firebaseDataCollection' | translate }}</p>
    </div>

</section>